<div class="main">
	<div class="row">
		<h1 class="heading">ABOUT ME</h1>
	</div>
	<div class="row summary">
		<div class="col-xs-6 padding-zero padding-right">
			<p>I am a former architectural designer, current web developer, and have a passion for design.</p>
			
			<p>I have a Bachelors degree in Environmental Design with an emphasis in Architectural Design. My work has ranged from residential and interior commercial architecture to educational facilities and hospitals. I have also built several web applications in Javascript, Angular, Node, Ruby, Rails and iPhone app in Ionic.</p>

			<p>My UX skills include rapid prototyping, user research, visual design and interaction design.</p>

			<p>My Environmental Design degree challenged me to solve problems for the built environment through learned design principles. Learning UX helped me translate & apply my approach to design based solutions in architecture to the web & native environments. Now, a developer, I design & code simultaneously always considering an end users' needs and perspective.</p>
		</div>
		<div class="col-xs-6 text-center border-black">
			<img class="img-circle profile-image quote" src="./img/profile_image.jpg" alt="">
			<p class="quote"> "As a full stack web developer, I am constantly pushing to find design driven solutions for my projects. My experience in UX design and architecture has instilled a philosophy that prioritizes a user’s experience. To me being a great developer is not just to make a functional app, but an app that is innovative yet familiar"</p>
		</div>
	</div>
</div>