<div class="main">
	<div class="row">
		<h1 class="heading">ARCHITECTURE</h1>
	</div>
	<div class="row">
		<div class="col-xs-3 padding-zero">
			<p class="info">ST. HELENA HIGH SCHOOL</p>
			<p class="summary">NEW AUDITORIUM/ THEATER</p>
			<p class="summary">2014</p>
		</div>
		<div class="col-xs-9 arch-img">
			<img src="../img/st_helena/SHHS_auditorium_Campus View.jpg" alt="campus view ">
			<img src="../img/st_helena/SHHS Auditorium_Lobby.jpg" alt="campus view">
			<img src="../img/st_helena/SHHS Auditorium_Lobby2.jpg" alt="campus view">
			<img src="../img/st_helena/SHHS Auditorium_Main Hall.jpg" alt="campus view">
		</div>
	</div>
	<div class="row ">
		<div class="col-xs-3 padding-zero">
			<p class="info">FAIRMONT ELEMENTARY SCHOOL</p>
			<p class="summary">NEW CAMPUS</p>
			<p class="summary">2014</p>
		</div>
		<div class="col-xs-9 arch-img">
			<img src="../img/fairmont/Fairmont_rendering.jpg" alt="campus view ">
			<img class="" src="../img/fairmont/Fairmont_axon.jpg" alt="campus view ">
			<img class="" src="../img/fairmont/Fairmont_interior.jpg" alt="campus view ">
		</div>
	</div>
	<div class="row">
		<div class="col-xs-3 padding-zero">
			<p class="info">PORTOLA MIDDLE SCHOOL</p>
			<p class="summary">NEW CAMPUS</p>
			<p class="summary">2014</p>
		</div>
		<div class="col-xs-9 arch-img">
			<img src="../img/Portola/PortolaMS_SITE MODEL_SD.jpg" alt="campus view ">
			<img src="../img/Portola/SITE MODEL_CD_office.jpg" alt="campus view ">
		</div>
	</div>
	</div>
</div>
