	<div class="main">
				<div class="row">
					<h1 class="heading">RESUME</h1>
				</div>
				<div class="row">
				<!-- beginning of left column -->
					<div class="col-xs-7 padding-zero">
						<p class="border resume-title">EDUCATION</p>
						<div class="row-resume">
							<div class="col-xs-2 padding-zero">
								<div class="box text-center">JUN 2014</div>
							</div>
							<div class="col-xs-10 resume-summary">
								<span class="">GENERAL ASSEMBLY WEB DEVELOPMENT IMMERSIVE</span>
								<p>to Sep 2014</p>
							</div>
						</div>
						<div class="row-resume">
							<div class="col-xs-2 padding-zero">
								<div class="box text-center">SEP 2013</div>
							</div>
							<div class="col-xs-10 resume-summary">
								<span class="">GENERAL ASSEMBLY USER EXPERIENCE DESIGN</span>
								<p>to Nov 2014</p>
							</div>
						</div>
						<div class="row-resume">
							<div class="col-xs-2 padding-zero">
								<div class="box text-center">AUG 2000</div>
							</div>
							<div class="col-xs-10 resume-summary">
								<span>UNIVERSITY OF COLORADO, BACHELORS (E.N.V.D.)</span>
								<p>to May 2004</p>
							</div>
						</div>
						<!-- project experience -->
						<p class="border resume-title">PROJECT EXPERIENCE</p>
						<div class="row-resume">
							<div class="col-xs-2 padding-zero">
								<div class="box text-center">SEP 2014</div>
							</div>
							<div class="col-xs-10 resume-summary">
								<span class="">ARISAN - SOCIAL LENDING APPLICATION (iPhone)</span>
								<p>CoffeeScript, AngularJS, Ionic, Rails, Node, GitHub</p>
							</div>
						</div>
						<div class="row-resume">
							<div class="col-xs-2 padding-zero">
								<div class="box text-center">AUG 2014</div>
							</div>
							<div class="col-xs-10 resume-summary">
								<span class="">BODY BUDGET - CALORIE TRACKING/ RECIPE APP (Web)</span>
								<p>Ruby, JQuery, Rails, Chart.js, OAuth, Fitbit API, Yummly API </p>
							</div>
						</div>
						<div class="row-resume">
							<div class="col-xs-2 padding-zero">
								<div class="box text-center">AUG 2014</div>
							</div>
							<div class="col-xs-10 resume-summary">
								<span class="">Ideal U - LIFE PREDICTION APP (UX - Proto.io Hackathon)</span>
								<p>Balsamiq, Proto.io </p>
							</div>
						</div>
						<div class="row-resume">
							<div class="col-xs-2 padding-zero">
								<div class="box text-center">JUL 2014</div>
							</div>
							<div class="col-xs-10 resume-summary">
								<span class="">SWAG LIST - CONCERT/ EVENT APP (WEB)</span>
								<p>Javascript, Node.js, Express, Sequelize, Mapbox API</p>
							</div>
						</div>
						<div class="row-resume">
							<div class="col-xs-2 padding-zero">
								<div class="box text-center">FEB 2014</div>
							</div>
							<div class="col-xs-10 resume-summary">
								<span class="">TOUR HOP - TOUR BOOKING SITE (UX)</span>
								<p>Balsamiq</p>
							</div>
						</div>
						<!-- Work Experience -->
						<p class="border resume-title">WORK EXPERIENCE</p>
						<div class="row-resume">
							<div class="col-xs-2 padding-zero">
								<div class="box text-center">NOV 2008</div>
							</div>
							<div class="col-xs-10 resume-summary">
								<span class="">HIBSER YAMAUCHI ARCHITECTS - JOB CAPTAIN</span>
								<p>to Jun 2014</p>
							</div>
						</div>
						<div class="row-resume">
							<div class="col-xs-2 padding-zero">
								<div class="box text-center">JAN 2008</div>
							</div>
							<div class="col-xs-10 resume-summary">
								<span class="">AXIS ARCHITECTURE - DESIGNER</span>
								<p>to Aug 2008</p>
							</div>
						</div>
						<div class="row-resume">
							<div class="col-xs-2 padding-zero">
								<div class="box text-center">SEP 2006</div>
							</div>
							<div class="col-xs-10 resume-summary">
								<span>BASE ARCHITECTURE - DRAFTER</span>
								<p>to Jan 2008</p>
							</div>
						</div>
					</div>
					<!-- end of left resume column -->
					<div class="col-xs-1"></div>

					<!-- skills column (right column) -->
					<div class="col-xs-4 padding-zero">
						<p class="border resume-title">DEV. SKILLS</p>
						<div class="summary">
						<p>OOP, RESTful API design, CRUD, Prototype-based programming</p>
						<p>Languages/ Frameworks:</p>
						<ul>
							<li>Javascript</li>
							<li>Node.js</li>
							<li>ExpressJS</li>
							<li>Coffee Script</li>
							<li>AngularJS</li>
							<li>jQuery</li>
							<li>Sequelize</li>
							<li>Ruby</li>
							<li>Rails</li>
							<li>HTML5</li>
							<li>CSS</li>
						</ul>
						 <p>Heroku, Git/Github, RSpec, Mocha, Bootstrap, SemanticUI</p>
						</div>
						<p class="border resume-title">DESIGN SKILLS</p>
						<div class="summary"><p>Rapid Prototyping, Wireframing, Storyboarding, User Research, CAD Design, Space Planning</p>
						<ul>
							<li>Photoshop</li>
							<li>Illustrator</li>
							<li>InDesign</li>
							<li>InVision</li>
							<li>Balsamiq</li>
							<li>Keynote</li>
							<li>SketchUp</li>
							<li>AutoCad</li>
							<li>Revit</li>
						</ul>
						</div>
					</div>
				</div>
			</div>