<div class="main">
	<div class="row">
		<h1 class="heading">SKETCHES</h1>
	</div>
	<div class="row frame">
		<div class="col-xs-4 padding-zero">
			<div class="grow pic">
				<img class="" src="../img/rendering_front.jpg" alt="front">
			</div>
			<div class="grow pic img-space">
				<img class="" src="../img/building.jpg" alt="hong kong bank">
			</div>
		</div>
		<div class="col-xs-4">
			<div class="grow pic">
				<img class="" src="../img/rendering_perspective.jpg" alt="perspective">
			</div>
			<div class="grow pic img-space">
				<img class="" src="../img/hongkongbank_main.jpg" alt="hong kong bank">
			</div>
		</div>
		<div class="col-xs-4 padding-zero">
			<div class="grow pic">
				<img class="" src="../img/japanese_section.jpg" alt="section">
			</div>
			<div class="grow pic img-space">
				<img class="" src="../img/hoover_tower.jpg" alt="hoover">
			</div>
		</div>
	</div>
</div>