<div class="main">
	<div class="row">
		<h1 class="heading">WEB DEV</h1>
	</div>
	<div class="row">
		<div class="col-xs-3 padding-zero">
			<p class="info">ARISAN - A SOCIAL LENDING APP</p>
			<p class="summary">A lending circle is a form of social lending where individuals in a community forms a group and supports each other financially. When a circle forms, individuals in the group pool their money together and start a raffle. Whoever wins the raffle wins from the pool of money. The circle then meets again at a specified date, pool their money and play the raffle again. However, previous winners are not able to win again, but they are still required to put their money in to the pool. The circle will end when every individual in the group has won.</p>
			<p class="summary"><b>Technology:</b> Node.js, Coffee Script, Angular.js, Ruby, Rails, Ionic</p>
			<a class="summary" href="https://github.com/indotek68/arisan_app">https://github.com/indotek68/arisan_app</a>
			<a class="summary" href="https://github.com/indotek68/arisan_api">https://github.com/indotek68/arisan_api</a>
		</div>

		<div class="col-xs-9 device-left">
			<div class="iPhone">
				<div class="device-mockup iphone5 portrait black">
	                <div class="device">
	                    <div class="screen">
	                        <!-- PUT CONTENTS HERE -->
	                        <img src="../img/arisan_splash.png" alt="campus view ">
	                    </div>
	                </div>
	            </div>
            </div>
            <div class="iPhone">
				<div class="device-mockup iphone5 portrait black">
	                <div class="device">
	                    <div class="screen">
	                        <!-- PUT CONTENTS HERE -->
	                        <img src="../img/arisan_signup.png" alt="campus view ">
	                    </div>
	                </div>
	            </div>
            </div>
            <div class="iPhone">
	            <div class="device-mockup iphone5 portrait black">
	                <div class="device">
	                    <div class="screen">
	                        <!-- PUT CONTENTS HERE -->
	                       <img src="../img/arisan_main.png" alt="campus view ">
	                    </div>
	                </div>
	            </div>
			</div>
			<div class="iPhone">
	            <div class="device-mockup iphone5 portrait black">
	                <div class="device">
	                    <div class="screen">
	                        <!-- PUT CONTENTS HERE -->
	                        <img src="../img/arisan_user.png" alt="campus view ">
	                    </div>
	                </div>
	            </div>
			</div>
			<div class="iPhone">
	            <div class="device-mockup iphone5 portrait black">
	                <div class="device">
	                    <div class="screen">
	                        <!-- PUT CONTENTS HERE -->
	                        <img src="../img/arisan_circle.png" alt="campus view ">
	                    </div>
	                </div>
	            </div>
			</div>
		</div>
	</div>
	<div class="row row-margin-top row-divider">
		<div class="col-xs-3 padding-zero">
			<p class="info">BODY BUDGET - CALORIE BUDGETING / RECIPE SEARCH APP</p>
			<p class="summary">Body Budget is a caloric management/ recipe-suggestion web application that integrates caloric and activity data received from a user’s FitBit with caloric and nutritional data from a food recipe API (Yummly). Chart.js in conjunction with AJAX, for client-side API calls, was used for dynamic data visualization. The application was built with Rails backend framework and OmniAuth for Fitbit authorization and authentication.</p>
			<p class="summary"><b>Technology:</b> Ruby, Rails, Chart.js, OAuth</p>
			<a class="summary" href="http://bodybudget.herokuapp.com">http://bodybudget.herokuapp.com/</a>
			<a class="summary" href="https://github.com/indotek68/BodyBudget">https://github.com/indotek68/BodyBudget</a>
		</div>
		<div class="col-xs-9 device-left">
			<div class="laptop">
				<div class="device-mockup macbook portrait black">
	    			<div class="device">
	        			<div class="screen">
	           				<img src="../img/Body Budget Splash.png" alt="campus view ">
	        			</div>
	   				 </div>
				</div>
			</div>
			<div class="laptop">
				<div class="device-mockup macbook portrait black">
	    			<div class="device">
	        			<div class="screen">
	           				<img src="../img/Body Budget Show.png" alt="campus view ">
	        			</div>
	   				 </div>
				</div>
			</div>
		</div>
	</div>
	<div class="row row-divider">
		<div class="col-xs-3 padding-zero">
			<p class="info">SWAG LIST</p>
			<p class="summary">Swag List is a web application that maps concert and event venues within a desired address, radius. Swag List uses the Map Box API for mapping venues and Bands In Town API to track concert dates, artists and locations. The application is built on Express.js framework for server-side API calls and uses RESTful routing practices. Users and concert relational models and databases were created using Sequelize and Postgresql.</p>
			<p class="summary"><b>Technology:</b> Javascript, Express, Node, Sequelize</p>
			<a class="summary" href="http://swag-list.herokuapp.com/">http://swag-list.herokuapp.com</a>
			<a class="summary" href="https://github.com/indotek68/swag_list">https://github.com/indotek68/swag_list</a>
		</div>
		<div class="col-xs-9 device-left">
			<div class="laptop">
				<div class="device-mockup macbook portrait black">
	    			<div class="device">
	        			<div class="screen">
	           				<img src="../img/Swag List Splash.png" alt="campus view ">
	        			</div>
	   				 </div>
				</div>
			</div>
			<div class="laptop">
				<div class="device-mockup macbook portrait black">
	    			<div class="device">
	        			<div class="screen">
	           				<img src="../img/Swag List Show.png" alt="campus view ">
	        			</div>
	   				 </div>
				</div>
			</div>
		</div>
	</div>
	</div>